.product {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.card {
    border: none;
    width: 70%;
}
.card img{
    height: 400px;
}
.title {
    margin: 15px 0;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}
.info {
    font-size: 25px;
    padding: 10px;
}
.price {
    font-size: 20px;
}
.addBtn {
    background-color: #00ffff;
    color: #393E46;
    float: right;
}
@media (max-width:600px) {
    .card {
        width: 100%;
    }  
}