.modal {
    top : 40%;
    left : 30%;
    border: none;
    text-align: center;
}
@media (max-width : 600px ) {
    .modal {
        top : 40%;
        left : 15%;
        border: none;
        text-align: center;
    }
}